<div class="d-flex align-items-center justify-content-center" style="height: 90dvh; background-color: #f9f5f4;">
    <div class="container-fluid rounded-5 p-3 pt-5 pb-5" style="min-width: fit-content; max-width: 20rem; background-color: white; border: #b74062 1px solid;">
        <p class="text-center fs-4" style="font-weight: 500;">Login</p>
        <form (ngSubmit)="login()" #loginform="ngForm">
            <div class="mb-3">
                <input #useremailinput="ngModel" type="email" class="form-control rounded-pill" placeholder="Email" name="email" [(ngModel)]="email" email required>
                <div *ngIf="useremailinput.invalid && useremailinput.touched" class="text-danger" style="font-size: small;">
                    Invalid email
                </div>
            </div>
            <div class="mb-3">
                <input #userpasswordinput="ngModel" type="text" class="form-control rounded-pill" placeholder="Password" name="password" [(ngModel)]="password" required pattern="[a-zA-Z0-9]*" minlength="3">
                <div *ngIf="userpasswordinput.invalid && userpasswordinput.touched" class="text-danger" style="font-size: small;">
                    Invalid password
                </div>
            </div>
            <button type="submit" [disabled]="loginform.invalid" class="btn border-0 m-3 btn-success rounded-pill mx-auto d-block ps-4 pe-4" style="font-weight: 500; background-color: #b74062;">Login</button>
        </form>
    </div>
</div>