<div class="row m-0 p-0 gap-2 pt-4" style="min-height: 90dvh;">
    <div class="mt-2 col-sm-12 col-md-12 col-lg-2 col-xl-2 m-0">
        <a href="/dashboard"><button class="btn rounded-pill w-100 btn-primary border-0 mb-2" style="background-color: #b74062; font-weight: 500;">Home</button></a>
        <a href="/user-list"><button class="btn rounded-pill w-100 btn-primary border-0" style="background-color: #b74062; font-weight: 500;">Users</button></a>

    </div>
    <div class="col m-0 rounded-3 m-2 p-3" style="background-color: #f9f5f4;">
        <form action="" class="d-flex flex-column aling-items-center justify-content-center">
            <p class="text-center">Add user details</p>
            <table>
                <tr>
                    <th>
                        <p class="m-0 mb-3">User ID</p>
                    </th>
                    <td>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Enter User ID" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p class="m-0 mb-3">User Name</p>
                    </th>
                    <td>
                        <div class="mb-3"><input type="text" class="form-control" placeholder="Enter User ID" /></div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p class="m-0 mb-3">Email</p>
                    </th>
                    <td>
                        <div class="mb-3"><input type="text" class="form-control" placeholder="Enter User ID" /></div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p class="m-0 mb-3">Status</p>
                    </th>
                    <td>
                        <div class="mb-3"><input type="text" class="form-control" placeholder="Enter User ID" /></div>
                    </td>
                </tr>
            </table>
            <button class="mx-auto d-block btn rounded-pill btn-primary border-0" style="background-color: #b74062; font-weight: 500;">Cancel</button>
            <button class="mx-auto d-block btn rounded-pill btn-primary border-0" style="background-color: #b74062; font-weight: 500;">Save</button>
        </form>
    </div>
</div>